body, html {
    font-family: 'Quicksand', sans-serif;
    color: darkslategrey;
    margin: 0px;
    width: 100%;
    height: 100%;
}

nav {
    margin-top: 20px;
    width: 100%;
     display: flex;
    justify-content: flex-end; 
}

.underline {
    float: right;
    border-bottom: 4px solid darkgrey;  
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.name_cont {
    text-align: right;
    font-size: 1.2em;
    margin-top: 10px;
}

.name_cont h1 {
    font-size: 2.2em;
    margin: 5px;
}

.name_cont p{
    margin: 0px;
    padding-bottom: 4px;
}
@media screen and (max-width: 700px) {

    .underline {
        width: 100%;
    }
    .udacity {
        width: 25%;
        height: auto;
    }
    .name_cont {
    text-align: right;
    font-size: 1em;
    margin-top: 10px;
}

    .name_cont h1 {
    font-size: 1.5em;
    margin: 5px;
}
}

main {
    margin-top: 20px;
    width: 100%;
}

#mainpic{
    padding-top: 20px;
}


@media screen and (min-width: 700px) {
    
#mainpic {
   width: 100%;
}
}

.subheader {
    width: 90%;
    float: right;
    padding: 5px;
}

@media screen and (max-width: 699px) {
#mainpic {
   width: 100%;
   height: auto;
}
main {
    height: 300px;
}
}


.subheader {
    width: 90%;
    float: right;
    font-size: 1em;
}


 .work {
    width: 100%;
    border-bottom: 4px solid darkgrey; 
    float: right;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.work img {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
.subheader {
    font-size: .7em;  
    }

    .work {
    width: 100%;
    float: right;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    .work img {
    margin-top: 10px;
    width: 100%;
    height: auto;
    }
}
 



